<footer class="footer">

    <a class="footer__logo" >eezee Meals</a>
  
  <ul class="footer__nav">
    <li class="nav__item">
      <a class="nav__title" >Media</a>

      <ul class="nav__ul">
        <li>
          <a target="_blank" href="https://www.instagram.com/">Instagram</a>  
        </li>

        <li>
          <a target="_blank" href="https://twitter.com/">Twitter</a>
        </li>
            
        <li>
          <a target="_blank" href="https://www.facebook.com/">Facebook</a>
        </li>
      </ul>
    </li>
    
    <li class="nav__item nav__item--extra">
      <a class="nav__title" >About Us</a>
      
      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Story</a>
        </li>
        
        <li>
          <a href="#">Loactions</a>
        </li>
        
        <li>
          <a href="#">Mobile App</a>
        </li>
        
        <li>
          <a href="#">FAQ</a>
        </li>
        
        <li>
          <a href="#">Careers</a>
        </li>
        
      </ul>
    </li>
    
    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>
      
      <ul class="nav__ul">
        <li>
          <a target="_blank" href="https://www.google.com/search?q=terms+and+conditions&rlz=1C1SQJL_enCA908CA908&sxsrf=ALiCzsaAD2jKn-SlBxwmRn_qYzuygcCrlA%3A1668405222389&ei=5tdxY6evF-SoptQPw-ysgAU&ved=0ahUKEwinuvzk_az7AhVklIkEHUM2C1AQ4dUDCA8&uact=5&oq=terms+and+conditions&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIHCAAQsQMQQzIECAAQQzIECAAQQzIECAAQQzIGCAAQBxAeMgYIABAHEB4yBAguEEMyBggAEAcQHjIECC4QQzIGCAAQBxAeOgoIABBHENYEELADOgcIABCwAxBDOg0IABDkAhDWBBCwAxgBSgQITRgBSgQIQRgASgQIRhgBUJ0HWJ0HYOYIaAJwAXgAgAFpiAFpkgEDMC4xmAEAoAEByAERwAEB2gEGCAEQARgJ&sclient=gws-wiz-serp">Terms and Conditions</a> 
        </li>
        
        <li>
          <a target="_blank" href="https://www.google.com/search?q=privacy+policy&rlz=1C1SQJL_enCA908CA908&oq=privacy+policy&aqs=chrome..69i57j0i67l2j0i131i433i512j69i61j69i60l3.3215j0j7&sourceid=chrome&ie=UTF-8">Privacy Policy</a>
        </li>
        
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <p>&copy; 2022 eezee Meals. All rights reserved.</p>
    

  </div>
</footer>