.container{
    margin-top: 250px;
    margin-bottom: 2%;
}
 
.card{
    margin-top: 22%;
    border: none;
    width: 500px;
    padding: 30px;
    /*position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(244, 244, 244);
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 90%;
    font-size: 1rem;
  }

  .card {
    width: 90%;
    margin-top: 10%;
  }
}
 
.button{
    background: rgb(255, 224, 20);
}

