<!--
<div class="row mt-5">
    <h2>the list</h2>
    <ng-container *ngFor="let meal of meals">
        <div class="d-flex justify-content-end">
            <mat-card class="theCard">
                <mat-card-header>
                    <mat-card-title>{{meal.name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{meal.image}}" alt="ERROR LOADING">
                <mat-card-content>
                    <p>{{meal.description}}</p>
                </mat-card-content>
                <mat-card-footer>
                    <p class="text-muted">${{meal.price}}</p>
                </mat-card-footer>
            </mat-card>
        </div>
    </ng-container>
</div>  -->
